<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tweakwisejs>
            <merchandising>
                <category_products_list_block_name>category.products.list</category_products_list_block_name>
                <sidebar_block_name>sidebar.main</sidebar_block_name>
            </merchandising>
        </tweakwisejs>
    </default>
</config>
