<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="tweakwisejs" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1"
                 showInStore="0">
            <label>Tweakwise JS</label>
            <tab>catalog</tab>
            <resource>Tweakwise_TweakwiseJs::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="instance_key" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Instance Key</label>
                    <comment>Insert your Tweakwise instance key here</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="merchandising" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Merchandising</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable or disable the Tweakwise merchandising functionality</comment>
                </field>
                <depends>
                    <field id="tweakwisejs/general/enabled">1</field>
                </depends>
            </group>
            <group id="search" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search</label>
                <field id="type" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Type</label>
                    <source_model>Tweakwise\TweakwiseJs\Model\Config\Source\SearchType</source_model>
                    <comment>Choose which type of search to use</comment>
                </field>
                <depends>
                    <field id="tweakwisejs/general/enabled">1</field>
                </depends>
            </group>
        </section>
    </system>
</config>
